<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1 class="mainheading"><%= title %></h1>
    <h1 class="center-text">Welcome to the Community Portal</h1>
    <div>
        <p class="center-text">
            Here is a little preview to some of the events being hosted. For more please view the Events tab in the menu.
        </p>
            <div class="event-preview-container">
    <% if (comEvent.length > 0) { %>
        <% for (let i = 0; i < 3 && i < comEvent.length; i++) { %>
            <div class="rounded-shadow-box">
                <h2><%= comEvent[i].title %></h2>
                <img src="<%= comEvent[i].image %>" alt="<%= comEvent[i].title %>">
                    <div class="event-details">
                        <div class="event-info-div"><strong>Date</strong>: <%= comEvent[i].date %></div>
                        <div class="event-info-div"><strong>Location</strong>: <%= comEvent[i].location %></div>
                        <div class="event-info-div"><strong>Type of event</strong>: <%= comEvent[i].eventType %></div>
                    </div>
            </div>
        <% } %>
    <% } %>
</div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>